body {
    background-color: white;
}

h1 {
    text-align: center;
    color: red;
}

.food {
    text-align: center;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.lumpia, .adobo{
    height: 450px;
    width: 500px;
    margin-left: 350px;
}

h2 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
    
h3 {
    color: blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


